*{
    font-family: 'Balsamiq Sans', sans-serif;
}
.custom-hyperlink{
    text-decoration: none;
    color: black;
    margin: 20px;
}
.container-width{
    padding: 0px 200px 0px 200px;
}
hr{
    border: 2px solid black;
    opacity: 1;
    margin: 0;
}
.col-5{
    padding: 30px 100px;
}
.custom-select{
    width: 200px;
    border: 2px solid black;
}

@media (max-width: 576px) {
    .container-width {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }
}